#background-index{
    background-image: url("images/backgroundIndex.jpg");
    background-repeat: no-repeat;
}

#nav-plateforme{
    font-size: 3.2em;
    margin: 1em 2em 1em 2em;
    padding: 0 1em 0 1em;
    border: solid 3px black;
    border-radius: 80px;
    background-color: white;
    text-align: center;
}

#center-button{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 1em;
    text-align: center;
}

#bouton-connexion{
    padding: 0.5em;
    border: solid 3px black;
    border-radius: 80px;
    background-color: white;
    text-align: center;
}

.font3em {
    font-size: 3em;
}

.font-et-decalage{
    font-size: 0.7em;
    margin: 0 2.2em 0 2.2em;
}

.gameboy{
    width: 95%;
    height: 95%;
    margin-top: 0.5em;
}

#connexion-et-inscription{
    position: absolute;  
    margin: 1em;
    padding: 1em;
    background-color: white;
    color: black;
    border: solid 3px black;
    border-radius: 10px;
    vertical-align: middle;
    top: 40%;
    left: 35%;
}

#fermer-connexion{
    position: absolute;   
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: white;
    color: black;
    border: solid 3px black;
    border-radius: 10px;
    vertical-align: middle;
    top: 2%;
    right: 2%;
}

/*#separateur-connexion{
    width: 2px;
    height: 100px;
}*/

.champs-connexion{
    margin-top: 2.85em;
}

.champs-inscription{
    margin: 1em;
}